.env
.env.*
!.env.example

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

dist/
build/
coverage/
.nyc_output/

.DS_Store
Thumbs.db

.idea/
.vscode/

.next/
out/
.turbo/

*.sqlite
*.sqlite3

supabase/.temp/

scripts/*.py
*.py
task.md
issueTmeplate.md
vercelerror.md
betterui.md
hackathon.md
resources.md
x402_stellar_guide.md
prompt.md
backend_check_fail.md
frontend_check_fail.md 
issue.md
pr.md